In [6]:
l1=["insidious", "congering", "quija", "death", "the nun"]
print(l1)

['insidious', 'congering', 'quija', 'death', 'the nun']

In [ ]:
#12/08/2023
#1.	Python Array 
#2.	Array is collection similar kind of data.
#3.	Arrays are used to store multiple values in one single variable. 
#Array can hold more than one value at a time.

#4.	List 
#L = [ 1, 2, 3, 4, 5 ]
#L= [ ‘A’ , ‘B’ , ‘C’ , ‘D’ ]
#L = [ ‘A’ , 1 , ‘C’ , 4  ]
#L= [‘A’ , 1 , ‘C’ , 4  , TRUE ]

In [5]:
print(l1[2:4])

['quija', 'death']

In [ ]:
# Add list items
# Methods
# 1. Append : to add an item to the list at last
# 2. Insert : insert a item at a specified index  
# 3. Extend :

In [10]:
l1.append('fear')
print(l1)

['insidious', 'congering', 'quija', 'death', 'the nun', 6, 'fear']

In [11]:
l1.insert(2,1965)
print(l1)

['insidious', 'congering', 1965, 'quija', 'death', 'the nun', 6, 'fear']

In [12]:
course=['python','SQL','stats']
print(course)

['python', 'SQL', 'stats']

In [13]:
company=['TCS','infosys','wipro']
print(company)

['TCS', 'infosys', 'wipro']

In [14]:
course.extend(company)
print(course)

['python', 'SQL', 'stats', 'TCS', 'infosys', 'wipro']

In [ ]:
# change list items : to change  the value of a specific iteam reffer to the index number

In [19]:
course[1]='excel'
print(course)

['python', 'excel', 'stats', 'TCS', 'infosys', 'wipro']

In [22]:
# range of index
course[1:3]='ML','AI'
print(course)

['python', 'ML', 'AI', 'TCS', 'infosys', 'wipro']

In [1]:
# Remove list items : the remove methods removes the specifed item

l1=[1, 2, 3, 4, 5]
l1.remove(3)
print(l1)

[1, 2, 4, 5]

In [5]:
# if there are more then one item with the specified value remove method will remove the first occurence 

l2=[2, 1, 1, 1, 4, 5, 6]
l2.remove(1)
print(l2)

[2, 1, 1, 4, 5, 6]

In [7]:
# pop() method :
# if u do not specify the index the pop method will remove the last item 

l2.pop(1)
print(l2)

[2, 1, 4, 5, 6]

In [9]:
# delete (del) : delete keyword removes the specifed index 
# delete keyword can also delete the list completely

l1=[2, 1, 1, 1, 4, 5, 6]
del l1[5]
print(l1)

[2, 1, 1, 1, 4, 6]

In [10]:
l1=[2, 1, 1, 1, 4, 5, 6]
del l1
print(l1)

NameError: name 'l1' is not defined

In [11]:
# clear() method : clear will remove the value's only but the structure will always remain 

l1=[2, 1, 1, 1, 4, 5, 6]
l1.clear() 
print(l1)

[]

In [13]:
# Sort() method : sort method will sort the list alfa-numarically in asscending order by defoult

choco=['kit-kat', 'melody', 'fivestar', 'munch']
choco.sort()
print(choco)

['fivestar', 'kit-kat', 'melody', 'munch']

In [3]:
# Copy Method : to copy iteams from one list to another list.

l1=[1 , 2 , 3]
l2=l1.copy()
print(l2)

[1, 2, 3]

In [6]:
# Join Two List : for joining or contanitae 2 or more list in python use '+' opertor.

l1=[1, 2, 3, 4, 5]
l2=[15, 16, 17, 18, 19]
l3=l1+l2
print(l3)

[1, 2, 3, 4, 5, 15, 16, 17, 18, 19]

In [8]:
# TUPLE : Ordered , Unchangeable(add,change,remove) , indexed
t1=(1, 2, 3, 4, 5)
print(t1)
# Tuple are used to store multiple iteams in a single variable 
# A tuple is a collection which is orderd and unchangable to duplicte values 
# Tuple iteams are idexed

(1, 2, 3, 4, 5)

In [ ]:
# difference in list and tuple :
# 1. list are mutable tuple are inmutable 
# 2. list uses square bracket while tuple uses curve bracket

In [11]:
# to find length
t1=(1, 2, 3, 4)
print(len(t1))

4

In [12]:
t1=(1, 2, 3, 4)
print(type(t1))

<class 'tuple'>

In [13]:
t2=2
print(t2)

2

In [16]:
# creat tuple with one iteam we have to add one coma after that
t2=2,
print(t2)
print(type(t2))

(2,)
<class 'tuple'>

In [18]:
# creat 
student=('sohan', 'aditya', 'sharim', 'nithish', 'pranav', 'ashutosh')
print(student[1:4])

('aditya', 'sharim', 'nithish')

In [19]:
print(student[:4])

('sohan', 'aditya', 'sharim', 'nithish')

In [20]:
print(student[2:])

('sharim', 'nithish', 'pranav', 'ashutosh')

In [1]:
t1=(1, 2, 3, 4, 5)
print(t1)

(1, 2, 3, 4, 5)

In [3]:
t1[1]=8
print(t1)

TypeError: 'tuple' object does not support item assignment

In [7]:
y=list(t1)
y[1]=15
t1=tuple(y)
print(t1)

(1, 15, 3, 4, 5)

In [16]:
a=('sohan', 'rohan', 'asher', 'prajwel')
b=list(a)
print(b)

['sohan', 'rohan', 'asher', 'prajwel']

In [17]:
b.append('nethish')
print(b)

['sohan', 'rohan', 'asher', 'prajwel', 'nethish']

In [19]:
a=tuple(b)
print(a)

('sohan', 'rohan', 'asher', 'prajwel', 'nethish')

In [20]:
a=('sohan', 'rohan', 'asher', 'prajwel')
b=list(a)
print(b)

['sohan', 'rohan', 'asher', 'prajwel']

In [21]:
b.remove('rohan')
print(b)

['sohan', 'asher', 'prajwel']

In [29]:
b=tuple(a)
print(b)

('sohan', 'rohan', 'asher', 'prajwel')

In [30]:
t1=('sohan', 'rohan', 'asher')
print(t1)

('sohan', 'rohan', 'asher')

In [31]:
l1=list(t1)
print(l1)

['sohan', 'rohan', 'asher']

In [33]:
l1.remove('rohan')
print(l1)

['sohan', 'asher']

In [35]:
t1=tuple(l1)
print(t1)

('sohan', 'asher')

In [1]:
# join tuple :

t1=(1, 2, 3, 4, 5)
t2=('sohan', 'rohan' , 'prajwel', 'ramesh')
print(t1+t2)

(1, 2, 3, 4, 5, 'sohan', 'rohan', 'prajwel', 'ramesh')

In [3]:
# to print repeating tuple :
t1=('name','class','roll no','subject')
shop=t1*3
print(shop)

('name', 'class', 'roll no', 'subject', 'name', 'class', 'roll no', 'subject', 'name', 'class', 'roll no', 'subject')

In [4]:
# functions :

t1=(1,2,3,4,5)
print(t1)

(1, 2, 3, 4, 5)

In [5]:
print(max(t1))

5

In [6]:
print(min(t1))

1

In [8]:
print(sum(t1))

15

In [9]:
# set : 
# 1. sets are used to store multiple iteams in a sinhle variable. 
# 2. set is unordered unchangeble and unindexed.
# 3. set iteams are unchangealble but u can remove and add iteams.
# 4. duplicates are not allowed in sets.


s1={1,2,3,4}
print(s1)

{1, 2, 3, 4}

In [10]:
s1={1,2,3,4}
print(3 in s1)

True

In [12]:
s1.add(5)
print(s1)

{1, 2, 3, 4, 5}

In [14]:
s1={1,2,3,4}
s2={'a','b'}
s1.update(s2)
print(s1)

{1, 2, 3, 4, 'b', 'a'}

In [15]:
s1={1,2,3,4}
s1.remove(3)
print(s1)

{1, 2, 4}

In [16]:
s1={1,2,3,4}
s1.discard(3)
print(s1)

{1, 2, 4}

In [17]:
# join 2 sets : 1. union 
#               2. update

s1={1,2,3,4,5}
s2={'a','b','c','d'}
s3=s1.union(s2)
print(s3)

{1, 2, 3, 4, 5, 'a', 'd', 'c', 'b'}

In [ ]:
s1={'rose','lotus','sinflower','lilly'}

In [19]:
a= """ whats is your name?
 my name is sohan dsouza."""
print(a)

 whats is your name?
 my name is sohan dsouza.

In [20]:
print(a[3:10])

ats is

In [21]:
x=float(input("Enter first number   :  "))
y=float(input("Enter second number  :  "))
print('_____________________________')
print()
print('                        _____')
sum=x+y
a=x-y
b=x*y
c=x/y
d=x%y
e=x//y
print("Sum of two numbers   : |", sum,'|')
print('                        -----')
print()
print("Difference of two numbers   : |", a,'|')

print("Product of two numbers   : |", b,'|')

print("Quatient of two numbers   : |", c,'|')

print("Percentage of two numbers   : |", d,'%','|')


print("floor division of two numbers   : |", e,'|')

Enter first number   :  5
Enter second number  :  8
_____________________________

                        _____
Sum of two numbers   : | 13.0 |
                        -----

Difference of two numbers   : | -3.0 |
                        -----

Product of two numbers   : | 40.0 |
                        -----

Quatient of two numbers   : | 0.625 |
                        -----

Percentage of two numbers   : | 5.0 % |
                        -----

floor division of two numbers   : | 0.0 |
                        -----

In [ ]:
# conditional statements :
# Python uses four space as defoult intendation but the number of space can be anything it is up to 
# the user but min one space is needeed to indent a statement. 
# First line of python program cannot have intendation.

a=float(input("Enter first number  (A) : "))
b=float(input("Enter second number (B) : "))
print('_______________________________')
if a>b:
 print("A is graeter then B")
else:
 print("B is greater then A ")

In [ ]:
a=int(input("Enter first number  (A) : "))
b=int(input("Enter second number (B) : "))
print('-------------------------------------')
if a>b:
 print("A is graeter then B")
elif (a==b):
 print("A is equal to B ")
else:
 print("B is greater then A ")

In [ ]:
a=int(input("Enter first number  (A) : "))
b=int(input("Enter second number (B) : "))
print('-------------------------------------')
if a>b:
 print("A is graeter then B")
elif (a==b):
 print("A is equal to B ")
else:
 print("B is greater then A ")

In [1]:
# Write a program to fined whether the given number is even or odd:


a=int(input("Enter first number  (A) : "))
print('----------------------------------')
if a%2==0:
 print("Entered number is a even number ")
else:
  print("Entered number is a odd number ")

Enter first number  (A) : 7
----------------------------------
Entered number is a odd number

In [ ]:
# looping :

#EXAMPLE:
i=1
while (i<10):
    print(i)
    i=i+1

In [ ]:
i=1
while (i<10):
    print(i)
    i=i+1

In [1]:
i=1
n=6
while i<n:
    print(i)
    i=i+1

1
2
3
4
5

In [ ]:
# Write a program  to calculate sum of 5 natural numbers

n=int(input("Enter positive natural number : "))
if n<0:
 print("Please Enter Psitive Natural number")
else:
 print(sum)
print("_________________________________________")
n=int(input("Enter a positive natural number : "))
i=1
sum = 0
while(i <= n):
    sum=sum+i
    i=i+1
print("__________________________________________")
print("Your sum is  : " ,sum)

In [ ]:
# Wrie a program to find n natiural numbers :

n=int(input("Enter the number : "))
i=1
sum=0
while(i<=n):
 sum=sum+i
 i=i+1

In [7]:
# Write a program to chuck weather the given number is + or - or zero :
a=int(input("Enter the number : "))
if a<0:
 print("The entered number is negetive ")
elif a>0:
 print("The enterd number is positive ")
else:
 print("The enterd number is zero")

Enter the number : 0
The enterd number is zero

In [18]:
# Wap to swap two numbers using third variable :
a = int(input("please give first number a: "))
b = int(input("please give second number b: "))
c=a
a=b
b=c
print("value of a is : ", a)
print("value of b is : ", b)

please give first number a: 8
please give second number b: 9
value of a is :  9
value of b is :  8

In [9]:
# Without using :

a = int(input("please give first number a: "))
b = int(input("please give second number b: "))
print("Value of a is : ",b)
print("Value of b is : ",a)

please give first number a: 4
please give second number b: 5
Value of a is :  5
Value of b is :  4

In [14]:
a = int(input("please give first number a: "))
b = int(input("please give second number b: "))
print("value of a : ",b,"value of b : ",)

please give first number a: 7
please give second number b: 5
value of a :  7 value of b :  5

In [16]:
a = int(input("please give first number a : "))
b = int(input("please give second number b: "))
a,b=b,a
print("value of a is : ",a)
print("value of b is : ",b)

please give first number a: 4
please give second number b: 5
value of a is :  5
value of b is :  4

In [30]:
# Write the program to calculate symple intrest with principle amount time and rate :


p=float(input("1). Enter your Principle Amount : "))
t=float(input("2).             Enter your Time : "))
r=float(input("3).             Enter your Rate : "))
x=(p*t*r)/100 
print("________________________________________________")
print("          =   Simple Intrest is :",x)

1). Enter your Principle Amount : 300
2).             Enter your Time : 8
3).             Enter your Rate : 4
________________________________________________
          =   Simple Intrest is : 96.0

In [ ]:
# while loop : break , continue , else
# break: the break statement can stop the loop even the while condition is true.
# continue: continue staement can stop the current titration and continue with the next line
# for loop is used for over a sequence 

i=1
while (i<6):
    print(i)
    if i==3:
        break
        i=i+1

In [1]:
i=1
while (i<6):
    print(i)
    if i==3:
        break
    i=i+1

1
2
3

In [5]:
i=0
while(i<6):
    i=i+1
    if i==3:
        continue
    print(i)

1
2
4
5
6

In [7]:
i=1
while (i<6):
    print(i)
    i=i+1
else:
    print("i is greater then 6")

1
2
3
4
5
i is greater then 6

In [11]:
list=[1,2,3,4,5]
for i in list:
        print(i)

1
2
3
4
5

In [12]:
list=['a','b','c','d']
for i in list:
        print(i)

a
b
c
d

In [3]:
cars=['ford','audi','maruthi']
for i in cars:
    if(i=='audi'):
        continue
    print(i)

ford
maruthi

In [4]:
# Range Function :Range functions returns a sequance of numbers starting from zero by defoult and increments by 1 by 
# defoult and ends at a specified number 

for i in range(2,6):
    print(i)

2
3
4
5

In [6]:
for i in range(2,30,3):
    print(i)

2
5
8
11
14
17
20
23
26
29

In [14]:
for i in range (6)
if x==3:
    break
print(x)
else:
print('finally finished')

SyntaxError: expected ':' (1977315181.py, line 1)

In [1]:
print("Enter a natural number")
num=int(input())
sum=0
if num<0:
    print("Enter a positive number : ")
    num=int(input())
else:
     for i in range(1, num+1):
        sum=sum+(i**3)
        print("Your sum is : ",sum)

Enter a natural number
5
Your sum is :  1
Your sum is :  9
Your sum is :  36
Your sum is :  100
Your sum is :  225

In [23]:
# reverse of any number :

i=int(input("Enter any Number : "))
rev=0
while(i>0):
    rev=(rev*10)+i%10
    i=i//10
print("Reverse of Number is = ", rev)

Enter any Number : 123456789
Reverse of Number is =  987654321

In [ ]:
i=int(input("Enter any Number : "))
rev=0
x=i
while(i>0):
    rev=(rev*10)+i%10
    i=i//10
print("Reverse of Number is = ", rev)
if x==rev:
    print("Number is palindrime")
else:
    print("Number is not palindrome")

In [1]:
i=int(input("Enter any Number : "))
rev=0
x=i
while(i>0):
    rev=(rev*10)+i%10
    i=i//10
print("Reverse of Number is = ", rev)
if x==rev:
    print("Number is palindrime")
else:
    print("Number is not palindrome")

Enter any Number : 123
Reverse of Number is =  321
Number is not palindrome

In [1]:
i=int(input("Enter the Number : "))\
fact=1
if num < 0:
    print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1,num + 1):
       fact = fact*i
    print("The factorial of",num,"is",fact)

SyntaxError: invalid syntax (423829744.py, line 2)

In [2]:
year = int(input("Enter the year : " ))
if (year % 400 == 0):
    print("{0} is a leap year".format(year))
elif(year % 100 == 0):
    print("{0} is a leap year".format(year))
elif(year % 4 == 0):
    print("{0} is a leap year".format(year))
else:
    print("{0} is not a leap year".format(year))

Enter the year : 2024
2024 is a leap year

In [3]:
num=int(input("Enter the number : "))
fact=1
for x in range(1,num+1):
    fact=fact*x
print("Factorial of {0} is : ".format(num),fact)

Enter the number : 1
Factorial of 1 is :  1